@import '../../styles/vars.scss';

.centeredContent {
    text-align: center;
}

.paddedDiv {
    padding-left: $layout-04;
    padding-right: $layout-04;
    padding-bottom: $layout-01;
    padding-top: $layout-01;
}